@use '../abstratcs/' as *;

body{
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  background-color: $secondary;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}