<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Job Listings with filtering">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="stylesheet" href="css/styles.css">
  <title>Frontend Mentor | Job Listings</title>
</head>
<body>
  <header class="header"></header>
  <main class="container">
    <section class="filter">
      <div class="filter__wrapper">
        <ul class="filter__list"></ul>
        <button type="button" aria-label="remove all filters" class="filter__clear">Clear</button>
      </div>
    </section>
    <section id="cardWrapper" class="card__wrapper">
      <h1 class="sr-only">Job listings with filtering</h1>
      <article class="card card--featured" data-tags="Frontend Senior HTML CSS JavaScript">
        <div class="card__resume">
          <figure class="card__img">
            <img width="88" height="88" src="images/photosnap.svg" alt="Logo brand photosnap">
          </figure>
          <div class="card__info">
            <div class="card__items">
              <span class="card__company">Photosnap</span>             
              <span class="pills pills--primary">New!</span>            
              <span class="pills pills--black">Featured</span>
            </div>              
            <h2 class="card__title">Senior Frontend Developer</h2>
            <ul class="card__list card__list--bullet">
              <li class="card__list-item ">
               <span>1d ago</span>
              </li>
              <li class="card__list-item ">
                <span>Full time</span>           
              </li>
              <li class="card__list-item ">
                <span>USA only</span>
              </li>
            </ul>
          </div>         
        </div>       

        <div class="card__filter">
          <button type="button" aria-label="Senior Frontend Developer Frontend tag" class="card__tags">Frontend</button>
          <button type="button" class="card__tags" aria-label="Senior Frontend Developer Senior tag" >Senior</button>
          <button type="button" aria-label="Senior Frontend Developer Html tag" class="card__tags">HTML</button>
          <button type="button" aria-label="Senior Frontend Developer CSS tag" class="card__tags">CSS</button>
          <button type="button" aria-label="Senior Frontend Developer JavaScript tag" class="card__tags">JavaScript</button>
        </div>
      </article>
      <article class="card card--featured" data-tags="Fullstack Midweight Python React">
        <div class="card__resume">
          <figure class="card__img">
            <img width="88" height="88" src="images/manage.svg" alt="Logo brand manage">
          </figure>
          <div class="card__info">
            <div class="card__items">             
              <span class="card__company">Manage</span>              
              <span class="pills pills--primary">New!</span>
              <span class="pills pills--black">Featured</span>             
            </div>
            <h2 class="card__title">Fullstack Developer</h2>
            <ul class="card__list card__list--bullet">
              <li class="card__list-item">
               <span>1d ago</span>
              </li>
              <li class="card__list-item">
                <span>Part Time</span>           
              </li>
              <li class="card__list-item">
                <span>Remote</span>
              </li>
            </ul>
          </div>         
        </div>     
        <div class="card__filter">
          <button type="button" aria-label="Fullstack Developer Fullstack tag" class="card__tags">Fullstack</button>
          <button type="button" aria-label="Fullstack Developer Midweight tag" class="card__tags">Midweight</button>
          <button type="button" aria-label="Fullstack Developer Python tag" class="card__tags">Python</button>
          <button type="button" aria-label="Fullstack Developer React tag" class="card__tags">React</button>
        </div>
      </article>
      <article class="card" data-tags="Frontend Junior JavaScript React Sass">
        <div class="card__resume">
          <figure class="card__img">
            <img width="88" height="88" src="images/account.svg" alt="Logo brand account">
          </figure>
          <div class="card__info">
            <div class="card__items">            
              <span class="card__company">Account</span>          
              <span class="pills pills--primary">New!</span> 
            </div>
            <h2 class="card__title">Junior Frontend Developer</h2>
            <ul class="card__list card__list--bullet">
              <li class="card__list-item">
               <span>2d ago</span>
              </li>
              <li class="card__list-item">
                <span>Part Time</span>           
              </li>
              <li class="card__list-item">
                <span>USA only</span>
              </li>
            </ul>
          </div>         
        </div>     
        <div class="card__filter">
          <button type="button" aria-label="Junior Frontend Develop Frontend tag" class="card__tags">Frontend</button>
          <button type="button" aria-label="Junior Frontend Develop Junior tag" class="card__tags">Junior</button>
          <button type="button" aria-label="Junior Frontend Develop JavaScript tag" class="card__tags">JavaScript</button>
          <button type="button" aria-label="Junior Frontend Develop React tag" class="card__tags">React</button>
          <button type="button" aria-label="Junior Frontend Develop Sass tag" class="card__tags">Sass</button>
        </div>
      </article>
      <article class="card" data-tags="Frontend Junior CSS JavaScript">
        <div class="card__resume">
          <figure class="card__img">
            <img width="88" height="88" src="images/myhome.svg" alt="Logo brand MyHome">
          </figure>
          <div class="card__info">
            <div class="card__items">
              <span class="card__company">MyHome</span>
            </div>
            <h2 class="card__title">Junior Frontend Developer</h2>
            <ul class="card__list card__list--bullet">
              <li class="card__list-item">
               <span>5d ago</span>
              </li>
              <li class="card__list-item">
                <span>Contract</span>           
              </li>
              <li class="card__list-item">
                <span>USA only</span>
              </li>
            </ul>
          </div>         
        </div>     
        <div class="card__filter">
          <button type="button" aria-label="Junior Frontend Developer Frontend tag" class="card__tags">Frontend</button>
          <button type="button" aria-label="Junior Frontend Developer Junior tag" class="card__tags">Junior</button>
          <button type="button" aria-label="Junior Frontend Developer CSS tag" class="card__tags">CSS</button>
          <button type="button" aria-label="Junior Frontend Developer JavaScript tag" class="card__tags">JavaScript</button>
        </div>
      </article>
      <article class="card" data-tags="Fullstack Midweight JavaScript Ruby Sass">
        <div class="card__resume">
          <figure class="card__img">
            <img width="88" height="88" src="images/loop-studios.svg" alt="Logo brand Loop Studios">
          </figure>
          <div class="card__info">
            <div class="card__items">             
              <span class="card__company">Loop Studios</span>
            </div>
            <h2 class="card__title">Software Engineer</h2>
            <ul class="card__list card__list--bullet">
              <li class="card__list-item">
               <span>1w ago</span>
              </li>
              <li class="card__list-item">
                <span>Full Time</span>           
              </li>
              <li class="card__list-item">
                <span>Worldwide</span>
              </li>
            </ul>
          </div>         
        </div>     
        <div class="card__filter">
          <button type="button" aria-label="Software Engineer fullstack tag" class="card__tags">Fullstack</button>
          <button type="button" aria-label="Software Engineer Midweight tag" class="card__tags">Midweight</button>
          <button type="button" aria-label="Software Engineer JavaScript tag" class="card__tags">JavaScript</button>
          <button type="button" aria-label="Software Engineer Ruby tag" class="card__tags">Ruby</button>
          <button type="button" aria-label="Software Engineer Sass tag" class="card__tags">Sass</button>
        </div>
      </article>
      <article class="card" data-tags="Backend Junior Ruby RoR">
        <div class="card__resume">
          <figure class="card__img">
            <img width="88" height="88" src="images/faceit.svg" alt="Logo brand FaceIt">
          </figure>
          <div class="card__info">
            <div class="card__items">
              <span class="card__company">FaceIt</span>
            </div>
            <h2 class="card__title">Junior Backend Developer</h2>
            <ul class="card__list card__list--bullet">
              <li class="card__list-item">
               <span>2w ago</span>
              </li>
              <li class="card__list-item">
                <span>Full Time</span>           
              </li>
              <li class="card__list-item">
                <span>UK only</span>
              </li>
            </ul>
          </div>         
        </div>     
        <div class="card__filter">
          <button type="button" aria-label="Junior Backend Developer backend tag" class="card__tags">Backend</button>
          <button type="button" aria-label="Junior Backend Developer Junior tag" class="card__tags">Junior</button>
          <button type="button" aria-label="Junior Backend Developer Ruby tag" class="card__tags">Ruby</button>
          <button type="button" aria-label="Junior Backend Developer RoR tag" class="card__tags">RoR</button>
        </div>
      </article>
      <article class="card" data-tags="Frontend Junior HTML JavaScript Sass">
        <div class="card__resume">
          <figure class="card__img">
            <img width="88" height="88" src="images/shortly.svg" alt="Logo brand Shortly">
          </figure>
          <div class="card__info">
            <div class="card__items">
              <span class="card__company">Shortly</span>
            </div>
            <h2 class="card__title">Junior Developer</h2>
            <ul class="card__list card__list--bullet">
              <li class="card__list-item">
               <span>2w ago</span>
              </li>
              <li class="card__list-item">
                <span>Full Time</span>           
              </li>
              <li class="card__list-item">
                <span>Worldwide</span>
              </li>
            </ul>
          </div>         
        </div>     
        <div class="card__filter">
          <button type="button" aria-label="Junior Developer frontend tag" class="card__tags">Frontend</button>
          <button type="button" aria-label="Junior Developer Junior tag" class="card__tags">Junior</button>
          <button type="button" aria-label="Junior Developer HTML tag" class="card__tags">HTML</button>
          <button type="button" aria-label="Junior Developer JavaScript tag" class="card__tags">JavaScript</button>
          <button type="button" aria-label="Junior Developer Sass tag" class="card__tags">Sass</button>
        </div>
      </article>
      <article class="card" data-tags="Frontend Junior JavaScript Vue Sass">
        <div class="card__resume">
          <figure class="card__img">
            <img width="88" height="88" src="images/insure.svg" alt="Logo brand Insure">
          </figure>
          <div class="card__info">
            <div class="card__list">             
              <span class="card__company">Insure</span>              
            </div>
            <h2 class="card__title">Junior Frontend Developer</h2>
            <ul class="card__list card__list--bullet">
              <li class="card__list-item">
               <span>2w ago</span>
              </li>
              <li class="card__list-item">
                <span>Full Time</span>           
              </li>
              <li class="card__list-item">
                <span>USA only</span>
              </li>
            </ul>
          </div>         
        </div>     
        <div class="card__filter">
          <button type="button" aria-label="Junior Frontend Developer frontend tag" class="card__tags">Frontend</button>
          <button type="button" aria-label="Junior Frontend Developer Junior tag" class="card__tags">Junior</button>
          <button type="button" aria-label="Junior Frontend Developer JavaScript tag" class="card__tags">JavaScript</button>
          <button type="button" aria-label="Junior Frontend Developer Vue tag" class="card__tags">Vue</button>
          <button type="button" aria-label="Junior Frontend Developer Sass tag" class="card__tags">Sass</button>
        </div>
      </article>
      <article class="card" data-tags="Fullstack Midweight JavaScript Python Django">
        <div class="card__resume">
          <figure class="card__img">
            <img width="88" height="88" src="images/eyecam-co.svg" alt="Logo brand Eyecam Co.">
          </figure>
          <div class="card__info">
            <div class="card__items">
              <span class="card__company">Eyecam Co.</span>
            </div>
            <h2 class="card__title">Full Stack Engineer</h2>
            <ul class="card__list card__list--bullet">
              <li class="card__list-item">
               <span>3w ago</span>
              </li>
              <li class="card__list-item">
                <span>Full Time</span>           
              </li>
              <li class="card__list-item">
                <span>Worldwide</span>
              </li>
            </ul>
          </div>         
        </div>     
        <div class="card__filter">
          <button type="button" aria-label="Full Stack Engineer fullstack tag" class="card__tags">Fullstack</button>
          <button type="button" aria-label="Full Stack Engineer Midweight tag" class="card__tags">Midweight</button>
          <button type="button" aria-label="Full Stack Engineer JavaScript tag" class="card__tags">JavaScript</button>
          <button type="button" aria-label="Full Stack Engineer Python tag" class="card__tags">Python</button>
          <button type="button" aria-label="Full Stack Engineer Django tag" class="card__tags">Django</button>
        </div>
      </article>
      <article class="card" data-tags="Frontend Junior JavaScript React Sass">
        <div class="card__resume">
          <figure class="card__img">
            <img width="88" height="88" src="images/the-air-filter-company.svg" alt="Logo brand Eyecam Co.">
          </figure>
          <div class="card__info">
            <div class="card__items">
              <span class="card__company">The Air Filter Company</span>
            </div>
            <h2 class="card__title">Front-end Dev</h2>
            <ul class="card__list card__list--bullet">
              <li class="card__list-item">
               <span>1mo ago</span>
              </li>
              <li class="card__list-item">
                <span>Part Time</span>           
              </li>
              <li class="card__list-item">
                <span>Worldwide</span>
              </li>
            </ul>
          </div>         
        </div>     
        <div class="card__filter">
          <button type="button" aria-label="Front-end Dev frontend tag" class="card__tags">Frontend</button>
          <button type="button" aria-label="Front-end Dev Junior tag" class="card__tags">Junior</button>
          <button type="button" aria-label="Front-end Dev JavaScript tag" class="card__tags">JavaScript</button>
          <button type="button" aria-label="Front-end Dev React tag" class="card__tags">React</button>
          <button type="button" aria-label="Front-end Dev Sass tag" class="card__tags">Sass</button>
        </div>
      </article>
    </section>
  </main>
  <footer class="footer">
    <div class="container">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
      Coded by <a href="https://github.com/josefigueroa/frontend-mentor-job-listings-with-filtering" target="_blank">José Figueroa</a>.
    </div>
  </footer>
  <script type="module" src="js/main.js"></script>
</body>
</html>